<head>
	<title>{{site.title}}.cz{% if page.title %} - {{page.title}}{% endif %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/assets/css/styles.css" type="text/css" rel="stylesheet">
	<link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.url}}">
	<link rel="icon" href="/assets/img/icons/website-icon.svg" type="image/svg+xml">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }} news" href="{{ site.url }}{{ site.baseurl }}/rss.xml">
	{% include seo.html %}
</head>
