<!doctype html>
<head>
	<title>{{site.title}}.cz</title>
	<meta charset="utf-8">
	<!--link href="{{site.url}}{{site.baseurl}}/assets/css/styles.css" type="text/css" rel="stylesheet"/-->
	<link href="/assets/css/styles.css" type="text/css" rel="stylesheet">
	<meta content="{{site.description}}" name="description">
	<meta content="{{page.author}}" name="author">
	<link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.url}}">
	<meta content="Copyright 2021 {{site.owner}}. All rights reserved." name="copyright">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
