<div class="members">
	<h2>Members</h2>
	{% for member in site.members %}
		<div class="member">
        	<img src="{{ member.image }}"/>
        	<h3>{{ member.name }}</h3>
        	<b>{{ member.school }}</b>
        	<br/>
        	{{ member.content }}
        	<hr/>
        	<ul>
            	<li>Website: <a href="https://{{ member.website }}/">{{ member.website }}</a></li>
                {% if member.github %}
                	<li>Github: <a href="https://{{ member.github }}/">{{ member.github }}</a></li>
                {% endif %}
        	</ul>
		</div>
	{% endfor %}
</div>

