<section class="members">
	{% for member in site.members -%}
		<div class="member block">
			<div class="member-image">
				<img class="member-profile-picture" src="{{ member.image }}" alt="{{- member.name -}}"/>
				{%- if member.logo -%}<img class="member-logo" src="{{ member.logo }}" alt="{{- memner.name }} logo">{%- endif %}
			</div>
			<h2>{{- member.name -}}</h2>
			<strong>{{- member.school -}}</strong>
			<br/>
			{{- member.content -}}
			<ul>
				{% for el in member.external-links -%}
					<li><em>{{- el.title -}}: <a href="https://{{- el.link -}}/">{{- el.link -}}</a></em></li>
				{%- endfor %}
			</ul>
		</div>
	{%- endfor %}
</section>

