<div class="projects">
{% for project in site.projects %}
	<div class="project-card block">
		<div class="project-card-content">
			<h2>{{ project.name }}</h2>
			<p>{{ project.content }}</p>
		</div>
		<div class="project-card-footer">
			<hr/>
			<p class="right-text">
			<em>
				By {{ project.author }}.
				{% if project.repository %}
					<a href="{{ project.repository }}">Repository</a>
				{% endif %}
				{% if project.website %}
					<a href="{{ project.website }}">Website</a>
				{% endif %}
			</em>
			</p>
		</div>
	</div>
{% endfor %}
</div>
