
{%- assign projects_by_group = site.projects | group_by: "category" -%}
{%- for category in page.category_order -%}
	{%- assign current_category = projects_by_group | where_exp:"item","item.name == category" -%}
	{%- if current_category.size > 0 -%}
		<h2 class="project-category">{{- category -}}</h2>
		<div class="projects">
			{% for project in current_category[0].items %}
				<details>
					<summary><strong>{{- project.name -}}</strong> &ndash; {{- project.description -}} [{{- project.license -}}]</summary>
					{{- project.content | markdownify -}}
				</details>
			{%- endfor -%}
	{%- endif -%}
	</div>
{%- endfor -%}
