{%- assign page_desc = page.description | default: page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 160 -%}
<meta name="description" content="{{- page_desc -}}">
<meta name="author" content="{{- site.author -}}">
<meta name="copyright" content="Copyright {{ 'now' | date: '%Y' }} {{ site.author -}}. All rights reserved.">
<meta name="theme-color" content="{{- site.theme_color -}}">
<meta name="robots" content="index, follow">
<meta property="og:title" content="{{- page.title | default: site.title -}}">
<meta property="og:url" content="{{- site.url -}}{{- site.baseurl -}}{{- page.url -}}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{- site.title -}}">
<meta property="og:description" content="{{- page_desc -}}">
{%- assign og_image = page.image | default: site.logo -%}
{%- if og_image %}
<meta property="og:image" content="{{- site.url -}}{{- og_image -}}">
{%- endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:description" property="twitter:description" content="{{- page_desc -}}">
