<div class="services">
{%- for service in site.services %}
	<div class="service-card block">
			<a href="{{- service.link -}}"><h2>{{- service.name -}}</h2></a>
			<div class="service-card-content">
			{{- service.content -}}
			</div>
			<div class="service-card-footer">
				<p class="right-text">
					<em>
						{% if service.repository -%}
							<a href="{{- service.repository -}}">Repository</a>
						{%- endif %}
						{% if service.link -%}
							<a href="https://{{- service.link -}}">{{- service.link -}}</a>
						{%- endif %}
					</em>
			</div>
	</div>
{% endfor -%}
</div>


