---
---

// Default colors
// https://colorhunt.co/palette/222831393e46b55400eeeeee
body
  --background-color: #222831
  --background-color-hover: #{lighten(#222831, 10%)}
  --background-color-highlight: #{darken(#222831, 10%)}
  --block-color: #393E46
  --highlight-color: #B55400
  --text-color: #EEEEEE
  --text-highlight-color: #fdb44b

// https://www.csscolorpalettes.com/palettes/594
body.theme-classic
  --background-color: #00204a
  --background-color-hover: #{lighten(#00204a, 10%)}
  --background-color-highlight: #{darken(#00204a, 10%)}
  --block-color: #005792
  --highlight-color: #00BBf0
  --text-color: #FDB44B
  --text-highlight-color: #FDB44B

$background-color: var(--background-color)
$background-color-hover: var(--background-color-hover)
$background-color-highlight: var(--background-color-highlight)
$block-color: var(--block-color)
$highlight-color: var(--highlight-color)
$text-color: var(--text-color)
$text-highlight-color: var(--text-highlight-color)

// BASICS
body
  background-color: $background-color
  color: $text-color
  margin: 0
  font-family: "DejaVu Sans", sans-serif

h1
  color: $text-highlight-color
  text-align: center
  font-size: 2em

h2
  color: $text-highlight-color
  font-size: 1.75em

h3
  color: $text-highlight-color
  font-size: 1.35em

a
  color: $text-highlight-color
  border-radius: 2px
  padding: 2px

  &:hover
    background-color: $background-color-hover

footer
  width: 100%
  background-color: $background-color-highlight
  height: 20px

  ul.theme-selector
    display: inline-flex
    flex-direction: row
    list-style: none
    padding: 0
    margin: 0

    li
      display: inline

main
  padding: 1em
  max-width: 800px
  margin: auto

main > p
  width: 80%
  margin: 1em auto

// CLASSES
.content-centerer
  max-width: 80em 
  margin: auto
  padding-bottom: 2em

.logo
  margin: 2em auto
  margin-bottom: 0px
  display: inline-block
  width: 100%
  text-align: center
  color: $text-color

  a
    text-decoration: none

    &:hover
      background-color: $background-color

.title-big
  font-size: 10em
  display: inline-block
  color: $highlight-color
  text-shadow: 10px 5px black

.title-small
  font-size: 3em
  display: inline-block
  color: $highlight-color
  text-shadow: 10px 5px black
  margin-left: -20px
  margin-top: 0


.block
  background-color: $block-color
  padding: 1em
  margin: 1em
  border-radius: 5px
  box-shadow: 2px 2px 4px black

//-----------------------------------

.nav
  height: 4em
  background-color: $block-color
  left: 50%
  text-align: center
  display: flex
  justify-content: center
  gap: 10px
  flex-direction: row
  height: 5em
  padding: 0 1em

.nav-button
  background-color: $background-color
  height: 3em
  width: 13em
  margin: auto 0
  position: relative
  border: 3px solid $background-color
  padding: 0
  border-width: 1px
  border-style: solid
  border-color: $text-color
  border-radius: 5px
  box-shadow: 2px 4px 6px black

  &:hover
    background-color: $background-color-hover
  
  a
    color: $text-color
    text-decoration: none !important
    font-size: 2em
    margin: 0
    position: absolute
    width: 95%
    top: 50%
    left: 50%
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)


strong
  color: $highlight-color
  font-weight: bold

//------------------------------------

.split
  overflow: hidden

.split-container
  width: 50%
  float: left

.centered-text
  text-align: center

.right-text
  text-align: right

//-----------------------------------

.members
  margin-left: auto
  margin-right: auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

  li
    list-style: none


.projects
  margin-left: auto
  margin-right: auto
  max-width: 800px
  background-color: $background-color-highlight

  details:nth-child(even)
    background-color: $block-color
    a:hover
      background-color: $background-color-highlight


  details
    padding: 3px
    margin: 0

    summary
      cursor: pointer
      margin: 0
      padding: 3px
      padding-left: 15px

      &::marker
        font-size: 1.2em // Match starting <strong> below

      &::before
        display: inline-block
        content: ""
        width: 5px // Make the arrow a better touch target

    strong
      font-size: 1.2em

    ul
      margin: 0.5em
      padding: 0.5em

    img
      margin: auto
      display: block
      width: 75%

    p
      margin: 1em

    dl
        margin: 1em
    dt, dd
        display: inline
    dd::after
        display: block
        content: ""

    dt
        font-weight: bold
    dd
        margin-left: 0
        

.project-category
  max-width: 800px
  margin: 1.5em auto 0.5em auto

.member
  display: inline-block
  width: 40%

  h2
    margin: 0.5em 0 0 0

  ul
    margin: 0.5em
    float: right

.member-image
  position: relative
  float: left
  display: block
  width: 33%
  margin: 0.5em
  margin-right: 1em

.member-profile-picture
  width: 100%
  height: auto
  border-radius: 5px
  border-width: 1px
  border-style: solid
  border-color: $text-color

.member-logo
  position: absolute
  right: -1.5px
  bottom: 4.5px
  width: 20%
  height: auto
  border-radius: 5px 0 5px 0
  border-width: 1px
  border-style: solid
  border-color: $text-color

.member-tag
  display: none !important

//--------------------------------------

.project-card, .service-card
  width: 40%
  background-color: $block-color
  padding: 1em
  margin: 1em
  display: inline-block
  border-radius: 15px

  h2
    margin: 0.3em 0

  img
    margin: auto
    display: block
    max-width: 90%

//------------------------------------

.feed
  margin: 1em
  overflow-y: auto
  max-width: 800px
  margin: auto

.feed-post
  background-color: $block-color
  padding: 1em
  margin: 1em
  overflow: hidden
  border-radius: 5px

  h3
    margin: 0
    font-size: 140%

  img
    margin: auto
    display: block
    width: 75%

.img-small
  max-width: 5em
  height: auto

.feed-author
  float: right
  display: inline-block
  margin: 10px

.tom-text
  &::after
    content: 'to the left'

  @media screen and (max-width: 850px)
    &::after
      content: 'above'

.kacka-text
  &::after
    content: 'to the right'

  @media screen and (max-width: 850px)
    &::after
      content: 'below'

//------------------------------------

.highlight
  background-color: $background-color-highlight
  margin: 0.5em
  padding: 1em

.highlighter-rouge
  background-color: $background-color
  padding: 2px 4px


// MEDIA
@media screen and (max-width: 850px)
  .project-card, .member
    width: 100%

  .nav-button
    font-size: 0.8em

